<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script type="text/javascript" src="{{url_for('static',filename='jquery.js')}}"></script>
    
    
  </head>
  <body>
    
    <p>{{glon}}</p>
        

  </body>
  <script>
      // $("#btn2").click (function (){
      //    $.get ( "/mydict" , function (data , status){
      //       alert ( "name: " + data.name + " age:" + data.age);
      //   });
      // });
      
      // function show_member_table(){
      //   $("#member")[0].style.display="block";
      //   $("#employee")[0].style.display="none";

      // }

      // function show_employee_table(){
      //   $("#employee")[0].style.display="block";
      //   $("#member")[0].style.display="none";
      // }

  </script>
</html>
